<form (ngSubmit)="editar( formulario )"  #formulario = "ngForm">
    <label >Ingresar ID</label>
    <input type="text" name="id" [(ngModel)]="id"  class="form-control">

    <label >Ingrese Nombre</label>
    <input type="text" name="nombre" [(ngModel)]="nombre"  class="form-control">

    <label >Ingrese edad</label>
    <input type="number" name="edad" [(ngModel)]="edad" class="form-control" >

    <label >Seleccione el Género</label >
    <select name="genero" [(ngModel)]="genero"  class="form-control">
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
    </select>

    <label >Seleccione los lenguajes de programación que domina</label><br>

    <input class="form-check-input" type="checkbox" name="python" value="python" [(ngModel)]="python">
    <label class="form-check-label">Python</label>

    <input class="form-check-input" type="checkbox" name="cpp" value="cpp" [(ngModel)]="cpp">
    <label class="form-check-label">C++</label>
    
      
    <br>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>